<%= form_for(@receipt) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :expense_id %><br>
    <%= f.collection_select :expense_id, Expense.all, :id, :payee %>
  </div>
  <div class="field">
    <%= f.label :uploaded_file %><br>
    <%= f.file_field :uploaded_file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
